name: Build & Deploy Azure Function

on:
  push:
    branches: [ "main" ]
    paths:
      - 'src/**'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Build Function App
      working-directory: src/MyFunctionApp
      run: dotnet publish -c Release -o publish

    - name: Azure Login
      uses: azure/login@v1
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        enable-AzPSSession: true

    - name: Deploy to Azure Function
      uses: azure/functions-action@v1
      with:
        app-name: mydemo-functionapp-001      # match Terraform output
        package: src/MyFunctionApp/publish
