name: Deploy .NET App to Azure VM

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore MyDotNetApp/MyWebAPI/MyWebAPI.csproj

      - name: Build
        run: dotnet build -c Release MyDotNetApp/MyWebAPI/MyWebAPI.csproj

      - name: Publish
        run: dotnet publish -c Release -o publish/ MyDotNetApp/MyWebAPI/MyWebAPI.csproj

      - name: Configure SSH Key
        run: |
          echo "${{ secrets.VM_SSH_KEY }}" > key.pem
          chmod 600 key.pem

      - name: Copy files to VM
        run: |
          scp -o StrictHostKeyChecking=no -i key.pem -r publish/* azureuser@172.203.33.127:/var/www/MyWebAPI/

      - name: Restart application on VM
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem \
            ${{ secrets.VM_USERNAME }}@${{ secrets.VM_HOST }} << 'EOF'
            sudo systemctl daemon-reload
            sudo systemctl restart myapp
            EOF
